*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  background-color: rgb(92, 9, 26);
  color: white;
  align-items: center;
}
.header{
    display: flex;
    background-color: rgb(66, 16, 16);
    padding: 2vh;
    align-items: center;
    justify-content: center;
}
.header ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.header ul li {
    margin:30px;
}
.header ul li a{
    text-decoration: none;
    color: white;
}