.carousel-item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
}


.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem;
}
.card{
    width: 20rem;
}
.card img{
    height: 200px;
    object-fit: cover;
}