main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
    gap: 1.5rem;
}
.tarjeta {
    display: flex;
    width: 85%;
    height: 300px; 
    background: #1a2421;
    border-radius: 10px;
    overflow: hidden;
    color: rgb(180, 180, 180);
    justify-content: center;
    
}

/* Imagen izquierda (1/3) */
.tarjeta-img {
    width: 33.33%;
}

.tarjeta-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenido derecho (2/3) */
.tarjeta-contenido {
    display: flex;
    width: 66.66%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Parte superior */
.tarjeta-top {
    text-align: center;
}

.tarjeta-top h3 {
    margin-bottom: 0.5rem;
}

/* Parte inferior */
.tarjeta-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha {
    font-size: 0.9rem;
    color: white;
}

.btn {
    padding: 0.5rem 1rem;
    background: #51ff82;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
